{
  "plugins": [
    [
      "@svgr/babel-plugin-replace-jsx-attribute-value",
      {
        "values": [
          { "value": "#475569", "newValue": "props.color", "literal": true }
        ]
      }
    ]
  ]
}
